<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>page blog</title>
    <link href="~/style/blog.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
	<header>
		<h1 id="titre1" class="titre">Mon Blog</h1>
	</header>
  
	<div id="contenant">
		<div id="img_g">
			<div><img src="~/images/chat1.jpg" alt="mon image ne s'affiche pas"/> </div>
			<div><img src="~/images/chat2.jpg" alt="mon image ne s'affiche pas"/> </div>
			<div><img src="~/images/chat3.jpg" alt="mon image ne s'affiche pas"/> </div>
		</div>
		
		<div id="articles">
			<section>
				<article id="article1">
					<h3>La cote argus de votre chien d'attaque</h2>
					<p>Bonsoir cet apres midi jai renverser un chien de chasse qui a couper la route 
					d'un coup il est passer sous la voiture et m'a casser mon pare choc.
					j'ai vu le propriétaire du chien il dit quil le fera piquer mais qui est responsable moi ou lui?
					</p>
				</article>
				<article id="article2" class="art">
					<h3>Votre chat vous ment! (et c'est une bonne chose)</h2>
					<p>Les personnes ont tendance à humaniser de manière innée le comportement de nos animaux de compagnie, 
					ainsi, il est facile d'affirmer qu'un chat nous aime quand il ronronne détendu à nos côtés et qu'il nous 
					déteste quand il nous mord, nous ignore ou nous griffe. Mais... Qu'en-est-il réellement ? Qu'est-ce qu'on 
					sait réellement à propos du comportement félin ?
					</p>
				</article>
			</section>
		</div>
		
		<div id="liens">
			<div>
				<a href = "http://www.projet-isika.com" target="_blank">lien vers le site isika </a>
				<br/>
				<a href = "Homechef"> Back vers la page principale </a>
				<br/>
				<a href = "#titre1">vers le titre </a>
			</div>
		</div>
	</div>
  
  
	
	
	<footer>
		<table id="tableau">
			<tr>
				<td>Mentions légales: votre problème, pas le mien</td>
				<td>Contact</td>
				<td>réseaux sociaux</td>
			</tr>
		</table>
	</footer> 
  </body>
</html>
