
@{
    ViewBag.Title = "HomeChef";
    Layout = "_LayoutChoixSejour";
}
<!DOCTYPE html>
<html>
	<head>
		<title>HomeChefIndex</title>
		<meta charset="utf-8"</meta>
		<link rel="stylesheet" href="StyleSheet.css">
		
	</head>
	
	<body>
	
		<header>
			<img src="imagesProjet2Homechef/pageslogo/platThai.png" alt="fail" id="imageTitre">
			<h1>bonjour</h1>
			
			
		</header>
		
		<div id="parent">
			
			<div id="div2">
				<span class="art"">
					<img src="imagesProjet2Homechef/17.jpg" alt="fail" class="imgart">
					<h1>Qui sommes nous ?</h1>
					<p id="txtart1">
			Lorem ipsum dolor sit amet. Sed voluptate molestiae est Quis dicta et 
			placeat iste aut minus dolor. Qui omnis porro est aspernatur ullam ut 
			eveniet error sit autem enim ea culpa nihil aut itaque tenetur sed magni 
			consequatur. Est quia Quis qui cupiditate totam qui illum libero ut error 
			explicabo quo esse animi qui ducimus quaerat eum molestiae unde. Quo nisi 
			quod qui officia perferendis non omnis dicta est fugiat officia et 
			consequatur totam ut natus perspiciatis est numquam consequatur. 
						
					</p>
				</span>
				<span class="art">
					<img src="imagesProjet2Homechef/20.jpg" alt="fail" class="imgart">
					<p id="txtart2">
						<h1>Comment ça marche ?</h1>
					A nemo unde eos soluta delectus ut possimus nesciunt a consequuntur voluptate sed similique debitis qui reprehenderit ipsam. Ab nostrum facilis At rerum fuga sit animi obcaecati sed dolorem eligendi. Et voluptatum dolores ut itaque debitis qui fugiat dolores rem quas magnam ut perspiciatis molestiae 33 quis Quis qui omnis distinctio. Est dicta officia et rerum ipsum aut esse rerum et ipsam harum et quos molestiae vel internos officiis. 

					</p>
				</span>
				<span class="art">
					<img src="imagesProjet2Homechef/8.jpg" alt="fail" class="imgart">
					<p id="txtart2">
						<h1>Pourquoi nous faire confiance ?</h1>
					A nemo unde eos soluta delectus ut possimus nesciunt a consequuntur voluptate sed similique debitis qui reprehenderit ipsam. Ab nostrum facilis At rerum fuga sit animi obcaecati sed dolorem eligendi. Et voluptatum dolores ut itaque debitis qui fugiat dolores rem quas magnam ut perspiciatis molestiae 33 quis Quis qui omnis distinctio. Est dicta officia et rerum ipsum aut esse rerum et ipsam harum et quos molestiae vel internos officiis. 

					</p>
				</span>
				<span class="art">
					<img src="imagesProjet2Homechef/3.jpg" alt="fail" class="imgart">
					<p id="txtart2">
						<h1>Nous rejoindre ?</h1>
		
				<form action="/home/CreerAdhesion" method = "post">
											
					<fieldset>
						<legend>Dites-nous qui vous êtes !</legend>
				
						<table>
							<tr>
								<td><label>UserName</label></td>
								<td><input type="text" name="UserName"/></td>
							</tr>
							<tr>
								<td><label>Password</label></td>
								<td><input type="password" name="Password"/></td>
							</tr>
							<tr>
								<td><label>Nom</label></td>
								<td><input type="text" name="Nom"/></td>
							</tr>
							<tr>
								<td><label>Prenom</label></td>
								<td><input type="text" name="Prenom"/></td>
							</tr>
							<tr>
								<td><label>Date de Naissance</label></td>
								<td><input type="datetime" name="DateDeNaissance"/></td>
							</tr>
							
							<tr>
								<td><label>Email : </label></td>
								<td><input type="email" name="email"/></td>
							</tr>
							<tr>
								<td><label>téléphone : </label></td>
								<td><input type="tel" name="tel"/></td>
							</tr>
														
						</table>
			
				
					
					</fieldset> <br/>
			
					<input type="submit" value="Valider"/>
			
				</form>
					</p>
				</span>
			</div>
			
		</div>
	</body>
	
	<footer>
	copyright ISIKA CDA 16
	</footer>
	
</html>

