@model Projet2Homechef.ViewModels.VillageoisViewModel
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Village</title>
</head>
<body>
    <div>Je suis la vue index</div>
<ul>
   
    <li>@Model.Message</li>
    <li>@Model.Date.ToString("dd/MM/yyyy")</li>

    <li>@Model.Villageois.Nom</li>
    <li>@Model.Villageois.Prenom</li>
 


</ul>
</body>
</html>
