@{
    ViewBag.Title = "Gestionnaire";
    Layout = "_LayoutChoixSejour";
}

<h3 class="titre">Gestionnaire</h3>

 
<table border="1">
      <tr>
          <th>UserName</th>
          <th>Nom</th>    
          <th>Prenom</th>  
          <th>DateDeNaissance</th>
          <th>Email</th> 
          <th>Tel</th> 
          <th>Role</th> 
          <th>DateDeNaissance</th> 
          <th>Valider</th>
          <th>Refuser</th>
      </tr>
      
      
          <tr>
              
              <button1 class="btn btn-success btn-xl" type="submit">Valider</button1>
              <button2 class="btn btn-danger btn-xl" type="submit">Refuser</button2>
          </tr>
      
  </table>