 @model List<Projet2Homechef.Models.Villageois>

@{
    ViewBag.Title = "Gestionnaire";
    Layout = "_LayoutChoixSejour";
}

<h3 class="titre">Gestionnaire</h3>

@foreach (var villageois in Model)
{
   



<table border="1">
      <tr>
          <th>@villageois.UserName </th>
          <th>Nom</th>    
          <th>Prenom</th>  
          <th>DateDeNaissance</th>
          <th>Email</th> 
          <th>Tel</th> 
          <th>Role</th> 
          <th>DateDeNaissance</th> 
          <th>Valider</th>
          <th>Refuser</th>
          <th> <button1 class="btn btn-success btn-xl" type="submit">Valider</button1> </th>
           <th> <button2 class="btn btn-danger btn-xl" type="submit">Refuser</button2>
      </tr>
      
      
      
  </table>
  }
